<template>
  <modal name="editor1" @before-open="beforeOpen" @before-close="beforeClose" :adaptive="true" height="auto" :scrollable="true">
    <div class="wrapper">
     <h5>Edit link attributes</h5>
     <div v-for="(attr, i) in attrs" :key="i">
     <input  class="form-control w-50" v-model="attr.value"  v-bind:placeholder="attr.name">
     </div>
     <br>
     <button class="btn btn-success" @click="save()">Save link</button>
    </div>
  </modal>
</template>

<script>


  export default {
    name: 'editor1',
    computed:{
  
    },
    data: function () {
      return {
          index: '',
          group: {},
          realgroup: {},
          node : {},
          result : {
            attrs : [],
            refs: []
          },
          attrs : []
      }
    },

    methods: {
      beforeOpen (event) {
        this.index = event.params.index;
        this.group = event.params.group;
        this.realgroup = event.params.realgroup;
        this.attrs = this.group.attrs
      },
      save (){
        this.$modal.hide('editor1')
      },
      beforeClose (event) {
        
        this.attrs = [];
        var payload = {
          data : this.group,
          group : this.realgroup
        }
        this.$store.dispatch('updateArrowLabel', payload); 
      
      }
    }
  }
</script>

<style scoped>
  .wrapper {
    height: 100%;
    width: 100%;
    background-color:"#F7";
    padding: 10px;
  }
</style>