<template>
  <modal name="editor" @before-open="beforeOpen" @before-close="beforeClose" :adaptive="true" height="auto" :scrollable="true">
    <div class="wrapper form-group">
   
     <h5>Edit element attributes</h5>
     <div v-for="(attr, i) in attrs" :key="i">
     <input  class="form-control w-50" v-model="attr.value" v-bind:placeholder="attr.name">
     </div>
     <br>
     <button  class="btn btn-success" @click="save()" >Save element</button>
     <button class="btn btn-danger" @click="remove()" >Delete element</button>
    </div>
  </modal>
</template>

<script>


  export default {
    name: 'editor',
    computed:{
      stage () {
      return this.$store.state.stage;
    },
    },
    data: function () {
      return {
          index: '',
          group: {},
          node : {},
          result : {
            attrs : [],
            refs: []
          },
          attrs : []
      }
    },

    methods: {
      beforeOpen (event) {
        this.index = event.params.index;
        this.group = event.params.group;
        this.attrs = this.group.attrs.data.attrs
        
      },
      save (){
        this.$modal.hide('editor')
      },
      remove (){
        this.$store.dispatch('decrementNumElements');
        var payload ={
          group : this.group,
          source : this.stage.children[0]
        }
        this.$store.dispatch('deleteFromStage',payload)
        this.stage.children[0].children.forEach(chil =>{
          payload.source=chil
          this.$store.dispatch('deleteFromStage',payload);
          this.RecursiveDelete(chil)
        })
        
        
        this.$modal.hide('editor')
      },

      RecursiveDelete(element){
          var payload ={
          group : this.group,
          source : ""
        }
        element.children.forEach(chil =>{
          payload.source=chil
          this.$store.dispatch('deleteFromStage',payload);
          this.RecursiveDelete(chil)
        })    
      },
      beforeClose (event) {
        this.attrs = [];
        var i = 0; var data = "";
        if (this.group.children[3]!=undefined){
          this.group.attrs.data.attrs.forEach(attr => {
            if (attr.name == this.group.children[3].attrs.data.name){
              data = this.group.attrs.data.attrs[i].value;
            }
            i++;
          });
          var w = 100 
          if(this.group.children[0].attrs.scaleX != undefined)
              w = 100 * this.group.children[0].attrs.scaleX;
          this.group.children[3].setText(data);
          this.group.children[3].setWidth(w);
          this.stage.draw();
        }
      }
    }
  }
</script>

<style scoped>
  .wrapper {
    height: 100%;
    width: 100%;
    background-color:"#F7";
    padding: 10px;
  }
</style>