<template>
  <nav class="navbar navbar-expand-sm ">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><router-link to="/" exact>Home</router-link></li>
      <!--<li><router-link to="/ModelEditor" exact>Modeling</router-link></li>-->
      <li class="nav-item "><router-link to="/ShareMetamodel" exact>Register Metamodel</router-link></li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item user">{{user.email}}</li>
      <li class="nav-item user"><button  @click="logout">Logout</button></li>
    </ul>
  </nav>
</template>

<script>
import firebase from 'firebase';
export default {
data (){
  return {
    user : "",
  }
},
  methods: {
    logout: function() {
      this.user = "";
      firebase.auth().signOut().then(() => {
        this.$router.replace('login')
      })
    }
  }, 
  mounted() {
    this.user = firebase.auth().currentUser;
  
  }
}

</script>

<style scoped>
ul{
    list-style-type: none;
    margin: 0;
}
li{
    display: inline-block;
    margin: 0 10px;
}
a{
    color: #fff;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 10px;
}
nav{
    background: #444;
    padding: 14px 0;
}
.router-link-active{
    background: #eee;
    color: #444;
}
.user{
  color: white;
}
</style>
