<template>
<div class="col-sm-12 text-center"> 
    <button @click="socialLogin" class="social-button"><img src="../assets/google.png">
       <!-- <img alt="Google Logo" src="../assets/google-logo.png">-->
</button>
</div>
</template>
<script>
 import firebase from 'firebase';
export default {
 data(){
    return{

    }
 },
 methods: {
      socialLogin() {
        const provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth().signInWithPopup(provider).then((result) => {
          this.$router.replace('Wellcome');
          this.$store.dispatch('setUser', result.additionalUserInfo.profile.email)
        }).catch((err) => {
          alert('Oops. ' + err.message)
        });
      }
    }

}
</script>
<style scoped>  
</style>