<template>
<div>
  <app-header></app-header>
<div class="container-fluid">
    <div class="row">
      <Modal/><v-dialog /><Modal1/>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
      <div class="row buttons" >
        <button title="Resize elements" alt="Resize elements" @click="resize()"><img src="../assets/resize.png" alt="resize"></button>
        <button title="Save to file" alt="Save to File" @click="saveToTextFile()"><img src="../assets/save.png" alt="save to files"></button>
        <input style="color: transparent; display:none;" id="load" type="file" @change="loadTextFromFile">
        <button title="Load from file" alt="Load from file" onclick="document.getElementById('load').click();"><img src="../assets/open.png" alt="load from file"></button>
        <button title="Clear stage" alt="Clear stage" @click="clearStage()"><img src="../assets/delete.png" alt="Delete"></button>
        <button title="Generate XMI" alt="Generate XMI" @click="generateXMI()"><img src="../assets/xmi.png" alt="Generate XMi"></button>
         <button v-if="selection.egl != undefined" title="Run Acceleo transformation" alt="Run Acceleo transformation" @click="runTransformation()"><img src="../assets/transformation.png" alt="Run Acceleo transformation"></button>
        <!--<input style="color: transparent; display:none;" id ="transformation" type="file" @change="runTransformation">
        <button title="Run Acceleo transformation" alt="Run Acceleo transformation" onclick="document.getElementById('transformation').click();"><img src="../assets/transformation.png" alt="run transformation"></button>-->
        <button title="Save as PNG" alt="Save as PNG" @click="pngSave()"><img src="../assets/pngsave.png" alt="resize"></button>
      </div>
      <div class="row size overx canvas">
        <v-stage  ref="stage" :config="configKonva">
        </v-stage>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 size palette">
      <br>
        <v-card color="#7ea9ff" dark  v-if="standBy">
        <v-card-text> Please stand by
          <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
        </v-card-text>
      </v-card>
     <h4> Nodes</h4>
      <ul class="list-group">
        <li class="list-group-item list-added" v-for="(node, index) in pallete.nodes" :key="index" v-show="!node.abstract && node.gmf_type=='node'">
        <div @click="onClickNode(index)" v-if="!node.isComp" v-bind:style="'color:rgb(' + node.color+');cursor: pointer;'">{{node.name}}</div>
        <div @click="onClickCompartment(index)" v-if="node.isComp" v-bind:style="'color:rgb(' + node.color+');cursor: pointer;'">{{node.name}}</div>
        </li>
      </ul>
      <br>
      <h4>Links</h4>
       <ul class="list-group">
        <li class="list-group-item list-added" v-for="(link, index) in pallete.links" :key="index" v-show="link.gmf_type=='link'"><div @click="onClickLink(pallete.links[index],index, false)" v-bind:style="'color:rgb(' + link.color+');'">{{link.name}}</div></li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item list-added" v-for="(node, index) in pallete.nodes" :key="index" v-show="!node.abstract && node.gmf_type=='link'"><div @click="onClickLink(pallete.nodes[index], index, true)" v-bind:style="'color:rgb(' + node.color+');'">{{node.name}}</div></li>
      </ul>
      <br>
      <button title="Stop link creation" alt="Stop link creation" v-show="arrowData.enable" @click="resert()"><img src="../assets/stop.png" alt="Unlock link"></button><br v-show="arrowData.enable">
      <button title="Stop containment creation" alt="Stop containment creation" v-show="arrowComp.enable" @click="resertCompartment()"><img src="../assets/stop.png" alt="Unlock containment"></button><br v-show="arrowComp.enable">
    </div>
  </div>
</div>
</div>
</template>

<script>
const axios = require('axios')
const reader = require ('../functions/readEcore')
const firebaseInit = require ('../functions/firebaseInit')
const generateXMIFunction = require ('../functions/generateXMI')

/*Import functios to draw elements in the stage*/
const arrowWorks = require('../functions/arrowWorks');
const compWorks = require('../functions/compWorks');
const nodeWorks = require('../functions/nodeWorks');

import Modal from './Modals/Modal'
import Modal1 from './Modals/Modal1'
import { constants } from 'fs';
import { functions } from 'firebase';
import Header from './Header.vue'

export default {
   
  components: {
    'Modal': Modal,
    'Modal1': Modal1,
    'app-header' : Header
  },
  computed:{
    pallete:{
      cache: false,
      get: function (){
        return this.$store.state.pallete;
      }
    },
    stage() {
      return this.$store.state.stage;
    },
    numelements () {
      return this.$store.state.numelements;
    },
    containments () {
      return this.$store.state.containments;
    },
    selection () {
      return this.$store.state.selection;
    },
    classes_links () {
      return this.$store.state.classes_links;
    },
    currentUser () {
      return this.$store.state.currentUser;
    }
  },
  data(){
    return{
      configKonva: {
        width: 1920,
        height: 1080,
      },
      arrowData : {
        enable: false,
        source: undefined,
        target: undefined,
        color: "0,0,0",
        style: "line",
        width : 2,
        index : undefined,
        targeteType : undefined,
        isClass: false,
      },
     arrowComp : {
        enable: false,
        source: undefined,
        target: undefined,
        index : undefined,
        pallete_index : undefined,
        targeteType : undefined,
      },
      link_element: "",
      storage : null,
      db : null,
      svgmap: null,
      tranformations : [],
      trShow : false,
      standBy:false,
    }
  },
  methods: {  
    resize() {
      this.tranformations.forEach(tr =>{
        if (!this.trShow){
          tr.show();
        }else{
          tr.hide();
        }
      })
      this.trShow = !this.trShow;
      this.stage.draw();
    },
    onClickLink(element, index, isClass){
      this.arrowData.enable = true;
      this.link_element = element;
      if ( this.link_element.style != undefined)
        this.arrowData.style = this.link_element.style;
      if ( this.link_element.width != undefined)
        this.arrowData.width = this.link_element.width;
      if ( this.link_element.color != undefined)
        this.arrowData.color = this.link_element.color;
      this.arrowData.index = index;
      this.arrowData.isClass = isClass;
      this.arrowData.targeteType = element.eType;
      document.body.style.cursor = 'crosshair';
    },
     onClickCompartment(index){
      this.arrowComp.enable = true;
      this.arrowComp.pallete_index = index;
      this.arrowComp.targeteType = this.pallete.nodes[index].name;

      console.log(this.pallete.nodes[index])
      document.body.style.cursor = 'crosshair';
    },
    onClickNode(index){
      nodeWorks.onClickNode(this, index);
    },

    drawArrow (){
      arrowWorks.drawArrow(this);
    },
    showArrowDialog(arrow, data, group){
      arrowWorks.showArrowDialog(this, arrow, data, group)
    },
    resert (){
     arrowWorks.resert(this);
    },
    drawComp(index){
      compWorks.drawComp(this, index);
    },
    saveCompInfo (){
      compWorks.saveCompInfo(this);
    },
    resertCompartment (){
     compWorks.resertCompartment(this);
    },
    getUrl(folder, file){
      console.log(folder+" - "+file)
      var storageRef = this.storage.ref();
      return new Promise(function (resolve, reject){
          storageRef.child(folder+'/'+file).getDownloadURL()
          .then(function(url) {
                var xhr = new XMLHttpRequest();
                xhr.responseType = 'blob';
                xhr.onload = function(event) {
                  var blob = xhr.response;
                };
                xhr.open('GET', url);
                xhr.send();
                console.log("url "+url)
                resolve(url);
              }).catch(function(error) {
                console.log(error)
              });
          });
    },
    clearStage() {
      this.$store.dispatch('restartStage');
      this.$store.dispatch('restartClinks');
    },
    runTransformation(ev){
      this.standBy = true;
      const runTransformation = require ("../functions/runTransformation");
      var t = this;
      generateXMIFunction.generateXMI(t, t.stage, t.containments, t.classes_links, t.selection).then(function(xmi) {
        runTransformation.runTransformation(t, ev, xmi,  t.currentUser);
      });
    },
    generateXMI(){  
      console.log("stage")
      console.log(this.stage.children[0])
      // this.standBy = true;
      var t = this;
      generateXMIFunction.generateXMI(t, t.stage, t.containments, t.classes_links, t.selection).then(function(xmi) {
      console.log(xmi)
      
      if (t.selection.evl != "undefined"){
        var evlval = require ("../functions/evlvalidation");
        evlval.validate(xmi, t, axios, t.currentUser)
      }else{
        const url = window.URL.createObjectURL(new Blob([xmi]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', t.selection.ecore_name+'.xmi') //or any other extension
        document.body.appendChild(link)
        link.click()
      }  
      });
      
    },
    saveToTextFile(){
      var data = {
        groups : [],
        classes_links :this.classes_links
      };

      this.stage.children[0].children.forEach(group =>{
        data.groups.push({group: group,
                          _id: group._id})
      })
      const url = window.URL.createObjectURL(new Blob([JSON.stringify(data)]))
      const link = document.createElement('a')
      link.href = url
      link.setAttribute('download', 'file.tfg') //or any other extensiontage
      document.body.appendChild(link)
      link.click()
      document.body.removeChild(link)

    },
    loadTextFromFile(ev) {
      this.clearStage();
      const file = ev.target.files[0];
      const reader = new FileReader();
      reader.onload = e => {
        var loader = require("../functions/loadFromFile");
        loader.loadFromFile(e.target.result, this);
        
      };
      reader.readAsText(file);
    },
    pngSave(){
      var dataURL = this.stage.toDataURL({ pixelRatio: 3 });
      var link = document.createElement('a');
      link.download = "diagram.png";
      link.href = dataURL;
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },
    componentToHex(c) {
      var hex = parseInt(c).toString(16);
      return hex.length == 1 ? "0" + hex : hex;
    },
    rgbToHex(r, g, b) {
      return "#" + this.componentToHex(r) + this.componentToHex(g) + this.componentToHex(b);
    }  

  },
  // beforeRouteLeave (to, from , next) {
  
  // this.$modal.show('dialog', {
  //    title: 'Are you sure you want to exit?',
  //    buttons: [
  //      {
  //        title: 'YES',
  //        handler: () => {
  //         next();      
  //        }
  //      },
  //      {
  //        title: 'NO',
  //        handler: () => {
  //        next(false)
  //        this.$modal.hide('dialog')
  //        }
  //      },
       
  //    ]
  //  })
// },
  mounted(){
    this.$store.dispatch('restartClinks');
    this.$store.dispatch('loadStage', this.$refs.stage.getStage());
    this.storage = firebaseInit.initializeApp.storage();
    this.db = firebaseInit.initializeApp.firestore();
    
    this.tranformations = [];
    var layer = new Konva.Layer();
    this.stage.add(layer);
    
    var storageRef = this.storage.ref();
    var t = this;
    console.log(this.selection)
    if (this.pallete.nodes == undefined){
      console.log(this.selection.name)
    this.getUrl(this.selection.name, this.selection.ecore).then(function(url) {
      axios.get(url, {
        method: 'GET',
      }).then(xmldata => {
        console.log(xmldata)
      t.$store.dispatch('loadPallete',reader.extracteClassifiers(xmldata.data))
      }).catch(error => {
        console.log(error)
      });
    });
    }
    this.svgmap = new Map();
    var t = this;
    if (this.selection.svg != undefined)
    this.selection.svg.forEach(s =>{
    this.getUrl(this.selection.name, s).then(function(url) {

      axios.get(url, {
        method: 'GET',
      }).then(svg => {
       t.svgmap.set(s, svg.data);
      }).catch(error => {
        console.log(error)
      });  
    });
    });
    
  },
}


</script>

<style scoped>

.size {
  height: 94vh;
  overflow-y: scroll;
}

.overx {
  overflow-x: scroll; 
}

.palette{
  background: #f1f1f1;
}

.canvas {
  background: #fdfdfd;
  border-right: 2px solid #505050;
}

.list-added:hover{
 border: solid black;
 text-shadow: 1px 1px;
 cursor: pointer ;
}
.buttons {
  padding: 3px;
  border: 1px solid black;
  background: #ecf2fc;
}
</style>
