<template>
 
<div>
    <app-header></app-header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <div class="form-horizontal">
                        <fieldset>
                            <legend class="text-center header">Upload files</legend>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"></span>
                                <div class="col-md-12">
                                    <input id="fname" v-model="name" name="name" type="text" placeholder="Metamodel Name" class="form-control">
                                </div>
                            </div>
                            
                           <!-- <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"></span>
                                <div class="col-md-12">
                                    <input id="email" v-model="email" name="email" type="text" placeholder="Email Address" class="form-control">
                                </div>
                            </div> -->

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"></span>
                                <div class="col-md-12">
                                    <textarea class="form-control" v-model="description" id="description" name="description" placeholder="Enter a description of the metamodel" rows="7"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"></span>
                                <div class="col-md-12">
                                <input style="color: transparent; display:none;" id="ecore" ref="ecore" name="ecore" type="file" placeholder="Select a .ecore file with the metamodel" class="file">
                                <button onclick="document.getElementById('ecore').click();" class="btn btn-primary btn-lg">Select a .ecore file with the metamodel</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"></span>
                                <div class="col-md-12">
                                    <input style="color: transparent; display:none;" id="svg" ref="svg" name="svg" type="file" placeholder="Select .svg files needed on the .ecore file" multiple class="file">
                                    <button onclick="document.getElementById('svg').click();" class="btn btn-primary btn-lg">Select .svg files needed on the .ecore file</button>
                                </div>
                            </div>


                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"></span>
                                <div class="col-md-12">
                                    <input style="color: transparent; display:none;" id="evl" ref="evl" name="evl" type="file" placeholder="Select a .evl file with some validation constraints" class="file">
                                    <button onclick="document.getElementById('evl').click();" class="btn btn-primary btn-lg">Select a .evl file with some validation constraints</button>
                                </div>
                            </div>
                            
                            <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-12">
                                <input style="color: transparent; display:none;" id="egl" ref="egl" name="egl" type="file" placeholder="Select .egx and .egl files with M2T transformations" multiple class="file">
                                <button onclick="document.getElementById('egl').click();" class="btn btn-primary btn-lg">Select .egx and .egl files with M2T transformations</button>
                            </div>
                            </div>
                            
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"></span>
                                <div class="col-md-12">
                                    <select v-model="property" class="select">
                                        <option disabled value="">Please select between Private or Public</option>
                                        <option value="Private">Private</option>
                                        <option value="Public">Public</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button v-on:click="submitUpload()" class="btn btn-success btn-lg">Submit</button>
                                </div>
                            </div>
                            <div class="alert alert-success" v-if="success" role="alert">
                                Your metamodel has been uploaded. Thak you for your colaboration!
                            </div>
                            <div class="alert alert-danger" v-if="error" role="alert">
                                We are sorry, but some went wrong, please try again!
                            </div>  
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</template>

<script>
import Header from './Header.vue'
import firebase from 'firebase';
export default {
    components: {
        'app-header' : Header
    }, 
    data(){
        return{
        name : "",
        email: "",
        description : "",
        ecore : null,
        evl: {},
        svg : [],
         egl: {},
        property: "",
        success: false,
        error : false,
        user: '',
        }
    },
    mounted() {
    this.user = firebase.auth().currentUser;
  },
    methods: {
        submitUpload(){
            var firebaseInit = require ('../functions/firebaseInit')
            var initlized = firebaseInit.initializeApp;
            var db= initlized.firestore();
            var storage = initlized.storage();
            var storageRef = storage.ref();
            this.ecore = this.$refs.ecore.files[0];
            const metadata = {
                contentType: this.ecore.type
            }

            if (this.$refs.evl.files[0] != undefined)
                this.evl = this.$refs.evl.files[0];
            else
                this.evl.name = "undefined"
            
            
            if (this.property == "Private" || this.property == ""){

                var refname = this.user.email+"/"+this.name+"/"+this.ecore.name; 
                var fileRef = storageRef.child(refname);

                fileRef.put(this.ecore, metadata).then(function(snapshot) {
                    console.log('Uploaded a blob or file!');
                }).catch(function(err) {
                    this.error = true;
                });
                
                if (this.$refs.evl.files[0] != undefined){
                    var refname = this.user.email+"/"+this.name+"/"+this.evl.name;    
                    var fileRef = storageRef.child(refname);

                    fileRef.put(this.evl, metadata).then(function(snapshot) {
                        console.log('Uploaded a blob or file!');
                    }).catch(function(err) {
                        this.error = true;
                    });
                }

                var egl = {
                    egx : "undefined",
                    egls : []
                }
            
            this.egl = this.$refs.egl.files;
            
            for (var i = 0; i<this.egl.length ; i++) {
                var sp = this.egl[i].name.split(".");
                if (sp[1] == "egx"){
                    egl.egx =  this.egl[i].name;
                }else{
                    egl.egls.push( this.egl[i].name)
                }
                var refname = this.name+"/"+this.egl[i].name; 
                var fileRef = storageRef.child(refname);

            
                fileRef.put(this.egl[i], metadata).then(function(snapshot) {
                    console.log('Uploaded a blob or file!');
                }).catch(function(err) {
                    this.error = true;
                });
            }
                
                var svg = [];
                this.svg = this.$refs.svg.files;
                for (var i = 0; i<this.svg.length ; i++) {
                    var sp = this.svg[i].name.split(".");
                    if (sp[1] == "svg"){
                        svg.push(this.svg[i].name);
                        var refname = this.user.email+"/"+this.name+"/"+this.svg[i].name; 
                        var fileRef = storageRef.child(refname);
                        fileRef.put(this.svg[i], metadata).then(function(snapshot) {
                            console.log('Uploaded a blob or file!');
                        }).catch(function(err) {
                            this.error = true;
                        });
                    }
                }

                var setDoc = db.collection(this.user.email).doc(this.name).set( {
                    name : this.name,
                    email : this.user.email,
                    description : this.description,
                    ecore : this.ecore.name,
                    evl: this.evl.name,
                    egl : egl,
                    svg: svg
                });
            }else{
                var refname = this.name+"/"+this.ecore.name; 
                var fileRef = storageRef.child(refname);

                fileRef.put(this.ecore, metadata).then(function(snapshot) {
                    console.log('Uploaded a blob or file!');
                }).catch(function(err) {
                    this.error = true;
                });
                
                if (this.$refs.evl.files[0] != undefined){
                    var refname = this.name+"/"+this.evl.name;    
                    var fileRef = storageRef.child(refname);

                    fileRef.put(this.evl, metadata).then(function(snapshot) {
                        console.log('Uploaded a blob or file!');
                    }).catch(function(err) {
                        this.error = true;
                    });
                }
                var egl = {
                    egx : "undefined",
                    egls : []
                }
            
            this.egl = this.$refs.egl.files;
            
            for (var i = 0; i<this.egl.length ; i++) {
                var sp = this.egl[i].name.split(".");
                if (sp[1] == "egx"){
                    egl.egx =  this.egl[i].name;
                }else{
                    egl.egls.push( this.egl[i].name)
                }
                var refname = this.name+"/"+this.egl[i].name; 
                var fileRef = storageRef.child(refname);

            
                fileRef.put(this.egl[i], metadata).then(function(snapshot) {
                    console.log('Uploaded a blob or file!');
                }).catch(function(err) {
                    this.error = true;
                });
            }
                var svg = [];
                this.svg = this.$refs.svg.files;
                for (var i = 0; i<this.svg.length ; i++) {
                    var sp = this.svg[i].name.split(".");
                    if (sp[1] == "svg"){
                        svg.push(this.svg[i].name);
                        var refname = this.name+"/"+this.svg[i].name; 
                        var fileRef = storageRef.child(refname);
                        fileRef.put(this.svg[i], metadata).then(function(snapshot) {
                            console.log('Uploaded a blob or file!');
                        }).catch(function(err) {
                            this.error = true;
                        });
                    }
                }

                var setDoc = db.collection('metamodels').doc(this.name).set( {
                    name : this.name,
                    email : this.user.email,
                    description : this.description,
                    ecore : this.ecore.name,
                    evl: this.evl.name,
                    egl : egl,
                    svg: svg
                }); 
            }
            
            this.name = "";
            this.email = "";
            this.description = "";
            this.property = "";
            this.ecore = null;
            this.evl = {};
            this.egl = {}
            this.success = true;

        }
    }
}
</script>

<style scoped>
.select {
     background: #a7f1a6;
    padding: 5px;
    color: white;
    border-radius: 3px;
    
}
</style>
