<template>
<div>
  <app-header></app-header>
  <div class="container-fluid wellcone">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Wellcome to Concrete Syntax WebApp!! </h3>
        <br>
        <h5>To start modeling please select a metamodel between public or your private metamodels!!</h5>
      </div>
    </div>
    <div class="row">
      <div  class="col-sm-6 over">
      <h4 class="text-center">Public Metamodels</h4>
        <div class="metamodel public" v-for="(metamodel, index) in metamodels" :key="index">
          <div v-on:click="onSelectPublicIndex(index)">
          <label class="name">{{metamodel.name}}</label> 
          <br>
          <label class="description">{{metamodel.description}}</label> 
          <br>
          <label>Uploaded by {{metamodel.email}}</label> 
          </div>
        </div>
      </div>
      <div  class="col-sm-6 over">
      <h4 class="text-center">Private Metamodels</h4>
        <div class="metamodel public" v-for="(metamodel, index) in usermetamodels" :key="index">
          <div v-on:click="onSelectPrivateIndex(index)">
          <label class="name">{{metamodel.name}}</label> 
          <br>
          <label class="description">{{metamodel.description}}</label> 
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
</template>

<script>
import Header from './Header.vue'
import firebase from 'firebase';
export default {
  components: {
    'app-header' : Header
  }, 
  data(){
    return{
      metamodels : [],
      user : "",
      usermetamodels : [],
    }
  },
  methods: { 
    onSelectPublicIndex(index){
      const payload = {
        name : this.metamodels[index].name,
        ecore : this.metamodels[index].ecore,
        evl : this.metamodels[index].evl,
        svg : this.metamodels[index].svg,
        egl : this.metamodels[index].egl,
      }
      this.$store.dispatch('setSelection', payload);
      this.$router.push('ModelEditor') 
    },
    onSelectPrivateIndex(index){
      const payload = {
        name :  this.user.email+"/"+this.usermetamodels[index].name,
        ecore : this.usermetamodels[index].ecore,
        evl : this.usermetamodels[index].evl,
        svg : this.usermetamodels[index].svg,
        egl : this.usermetamodels[index].egl,
      }
      this.$store.dispatch('setSelection', payload);
      this.$router.push('ModelEditor') 
    }
  },
  mounted(){
    this.user = firebase.auth().currentUser;
    var firebaseInit = require ('../functions/firebaseInit')
    var db = firebaseInit.initializeApp.firestore();
    
    var metamodelsRef = db.collection('metamodels');
    var query = metamodelsRef.get()
    .then(snapshot => {
      snapshot.forEach(doc => {
        this.metamodels.push(doc.data());
      });
    })
    .catch(err => {
      console.log('Error getting documents', err);
    });

    var usermetamodelsRef = db.collection(this.user.email);
    var query = usermetamodelsRef.get()
    .then(snapshot => {
      snapshot.forEach(doc => {
        this.usermetamodels.push(doc.data());
      });
    })
    .catch(err => {
      console.log('Error getting documents', err);
    });
  }

}
</script>

<style scoped>
.wellcone {
  background-color: #f1f1f1;
  padding-top: 5px;
}
.custom {
  border : 1 px solid black; 
}
.over {
  margin: 25px 0px;
  overflow-y: scroll;
  min-height: 80vh;
  height: 80vh;
  max-height: 80vh;
}
.metamodel{
  margin: 5px;
  border: 1px solid gray;
  padding: 5px;
  border-radius : 10px;
}
.metamodel:hover{
 transform: scale(1.02);
 background-color: #e1e1e1;
 cursor: pointer ;
}
.name {
  font-style: bold !important;
  font-size: 16px;
}
.description {
  font-style: italic !important;
}
</style>
