<template>
  <div>
    
    <router-view></router-view>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import { scrypt } from 'crypto';

export default {
components : {
  'app-header' : Header
}

}


</script>
<style  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></style>
<style href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet"></style>
<style>
body {
  font-family: 'Ubuntu', sans-serif;
}


</style>
